/* Mobile View - Portrait*/

@media only screen and (max-width: 480px) {
    .intro-container {
        margin-top: 5%;
        margin-bottom: 2%;
        padding: 0 0 0 0;
        height: inherit;
    }
    .intro-container h1 {
        margin: 0;
        line-height: 3.5rem;
        font-size: 44px;
    }
    .short-desc {
        font-size: 10px;
        margin-left: 4px;
        width: 80%;
    }
    .short-desc br {
        display: none;
    }
    .short-desc p {
        margin-top: 6px;
    }
    .intro-container button {
        height: 32px;
        width: 150px;
        font-size: 10px;
        margin-left: 4px;
    }
    .hire-me {
        margin-left: 1%;
    }
}


/* Tablet - Portrait and Mobile Landscape View */

@media only screen and (max-width: 768px) and (min-width: 481px) {}


/* Tablet - Landscape and Laptop View */

@media only screen and (max-width: 769px) and (min-width: 1279px) {}


/* Laptop and Desktop View */

@media only screen and (min-width:480px) {
    .intro-container {
        padding-top: 8rem;
    }
    .intro-container h1 {
        margin: 0;
        line-height: 5.5rem;
        font-size: 84px;
    }
    .short-desc {
        font-size: 18px;
        margin-left: 12px;
    }
    .intro-container button {
        height: 48px;
        width: 236px;
        font-size: 14px;
        margin-left: 12px;
    }
    .hire-me {
        margin-left: 2%;
    }
}