/* Mobile View - Portrait*/

@media only screen and (max-width: 480px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 5);
        grid-template-areas: "intro" "about-me" "projects" "skill-set" "contact";
        grid-row-gap: 2.8%;
    }
    main {
        margin: 0rem 0rem 0rem 1rem;
    }
    section {
        height: 50%;
        padding: 3%;
    }
}


/* Tablet - Portrait and Mobile Landscape View */

@media only screen and (max-width: 768px) and (min-width: 481px) {}


/* Tablet - Landscape and Laptop View */

@media only screen and (max-width: 769px) and (min-width: 1279px) {}


/* Laptop and Desktop View */

@media only screen and (min-width:1280px) {}


/* Temporary Laptop and Desktop View */

@media only screen and (min-width: 480px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 5);
        grid-template-areas: "intro" "about-me" "projects" "skill-set" "contact";
    }
    main {
        margin: 0rem 0rem 0rem 4rem;
    }
    section {
        height: 100%;
        padding: 5%;
    }
}