/* Mobile View - Portrait*/

@media only screen and (max-width: 480px) {}


/* Tablet - Portrait and Mobile Landscape View */

@media only screen and (max-width: 768px) and (min-width: 481px) {}


/* Tablet - Landscape and Laptop View */

@media only screen and (max-width: 769px) and (min-width: 1279px) {}


/* Laptop and Desktop View */

@media only screen and (min-width:1280px) {
    .skill-set-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        grid-template-areas: "skill-set-title" "skills";
    }
    .skill-name-percentage {
        grid-area: skills;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 1fr;
        grid-template-areas: "html java" " css php" "js mysql" "figma git";
    }
    .title-skill-set h2 {
        font-size: 72px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .title-skill-set p {
        font-size: 18px;
        margin-top: -4px;
        margin-left: 2px;
    }
    .skill-name {
        font-size: 32px;
        padding: 0;
        margin-top: 3%;
        margin-bottom: 2%;
    }
    .percentage {
        width: 90%;
    }
}