main {
    display: grid;
}

.intro-container {
    grid-area: intro;
}

.about-me-container {
    display: grid;
    grid-area: about-me;
}

.projects-container {
    grid-area: projects;
}

.skill-set-container {
    display: grid;
    grid-area: skill-set;
}

.contact-container {
    display: grid;
    grid-area: contact;
}